{"openapi":"3.0.1","info":{"title":"Java main API","description":"Java main sample application","license":{"name":"Apache 2.0"},"version":"v0.0.1"},"servers":[{"url":"https://api-sandbox.vitadairyvietnam.vn","description":"Server URL in Development environment"}],"paths":{"/user-gifts/pre-order/{id}/{userId}":{"put":{"tags":["user-gift-controller"],"operationId":"putMethodName","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserGiftDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderUserGift"}}}}}}},"/order/orders/{id}":{"put":{"tags":["order-controller"],"summary":"Update order","operationId":"updateOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderDetailsResponseDto"}}}}}}},"/constant-filters/{labelCode}":{"get":{"tags":["constant-filter-controller"],"operationId":"getByLabelCode","parameters":[{"name":"labelCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityResponseListFilterResponse"}}}}}},"put":{"tags":["constant-filter-controller"],"operationId":"updateByLabelCode","parameters":[{"name":"labelCode","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Create"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityResponseListConstant"}}}}}},"delete":{"tags":["constant-filter-controller"],"operationId":"deleteByLabelCode","parameters":[{"name":"labelCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityResponseObject"}}}}}}},"/warehouse/send":{"post":{"tags":["send-controller"],"operationId":"sendTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionBatchDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user-gifts/pre-order":{"post":{"tags":["user-gift-controller"],"operationId":"postMethodName","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreOrderDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderUserGift"}}}}}}},"/gifts":{"get":{"tags":["gift-controller"],"operationId":"getGifts","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ListGiftDto"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GiftReposeDto"}}}}}},"post":{"tags":["gift-controller"],"operationId":"postMethodName_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderGift"}}}}}}},"/gift-categories":{"get":{"tags":["gift-category-controller"],"operationId":"list","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ListGiftCategoryDto"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderListBaseConstantDto"}}}}}},"post":{"tags":["gift-category-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCategoryDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderBaseConstantDto"}}}}}}},"/gift-badges":{"get":{"tags":["badge-controller"],"operationId":"list_1","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ListGiftCategoryDto"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderListBaseConstantDto"}}}}}},"post":{"tags":["badge-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCategoryDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderBaseConstantDto"}}}}}}},"/favorite-gifts":{"post":{"tags":["favorite-gift-controller"],"operationId":"toggle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityResponseInteger"}}}}}}},"/constants":{"get":{"tags":["constant-controller"],"operationId":"list_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderListConstant"}}}}}},"post":{"tags":["constant-controller"],"operationId":"postMethodName_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConstantDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderConstant"}}}}}}},"/constant-filters":{"get":{"tags":["constant-filter-controller"],"operationId":"list_3","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ListFilter"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityResponseListFilterResponse"}}}}}},"post":{"tags":["constant-filter-controller"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Create"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityResponseListConstant"}}}}}}},"/gifts/{id}":{"get":{"tags":["gift-controller"],"operationId":"getDetails","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderGift"}}}}}},"patch":{"tags":["gift-controller"],"operationId":"updateGift","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderGift"}}}}}}},"/gift-categories/{id}":{"get":{"tags":["gift-category-controller"],"operationId":"details","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderBaseConstantDto"}}}}}},"patch":{"tags":["gift-category-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCategoryDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderBaseConstantDto"}}}}}}},"/gift-badges/{id}":{"get":{"tags":["badge-controller"],"operationId":"details_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderBaseConstantDto"}}}}}},"patch":{"tags":["badge-controller"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCategoryDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderBaseConstantDto"}}}}}}},"/constants/{id}":{"get":{"tags":["constant-controller"],"operationId":"getDetails_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderConstant"}}}}}},"patch":{"tags":["constant-controller"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConstantDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderConstant"}}}}}}},"/user-gifts/user/{userId}":{"get":{"tags":["user-gift-controller"],"operationId":"getUserGifts","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderListUserGift"}}}}}}},"/order/resource/types":{"get":{"tags":["resource-controller"],"operationId":"getOrderTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetResourceResponseDto"}}}}}}},"/order/resource/statuses":{"get":{"tags":["resource-controller"],"operationId":"getOrderStatuses","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetResourceResponseDto"}}}}}}},"/order/resource/delivery-statuses":{"get":{"tags":["resource-controller"],"operationId":"getDeliveryProviderStatuses","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetResourceResponseDto"}}}}}}},"/order/resource/delivery-provider-info":{"get":{"tags":["resource-controller"],"operationId":"getDeliveryProviderInfos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetResourceResponseDto"}}}}}}},"/order/orders":{"get":{"tags":["order-controller"],"operationId":"findOrder","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ListOrderRequest"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetOrderResponseDto"}}}}}}},"/order/orders/gifts":{"get":{"tags":["order-controller"],"operationId":"getOrderGiftDetails","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/GetOrderGiftsDetailRequest"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetOrderGiftsDetailResponseDto"}}}}}}},"/health/check":{"get":{"tags":["health-check"],"operationId":"health","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthCheckResponse"}}}}}}},"/gifts/{id}/{userId}":{"get":{"tags":["gift-controller"],"operationId":"getDetailsById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderGift"}}}}}}},"/gifts/sections":{"get":{"tags":["gift-controller"],"operationId":"sectionGifts","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SectionGiftDto"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseBuilderListListGift"}}}}}}},"/favorite-gifts/gifts":{"get":{"tags":["favorite-gift-controller"],"operationId":"listGifts","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityResponseMapStringObject"}}}}}}},"/favorite-gifts/gift-ids":{"get":{"tags":["favorite-gift-controller"],"operationId":"favoriteGiftIds","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityResponseInteger[]"}}}}}}}},"components":{"schemas":{"UpdateUserGiftDto":{"required":["status"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["PRE_ORDER","PENDING","CANCEL"]}}},"Gift":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"images":{"type":"array","items":{"type":"string"}},"transportTypeCode":{"type":"string"},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"name":{"type":"string"},"badgeCodes":{"type":"array","items":{"type":"string"}},"categoryCode":{"type":"string"},"tierCodes":{"type":"array","items":{"type":"string"}},"type":{"type":"string","enum":["GIFT","E_VOUCHER","E_VOUCHER_SHOP","E_VOUCHER_SHOP_BKIDS","EV_VITAE_CODE","COUPON"]},"point":{"type":"integer","format":"int32"},"price":{"type":"integer"},"hiddenTags":{"type":"array","items":{"type":"string"}},"sfNumber":{"type":"integer","format":"int64"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"expireDate":{"type":"string","format":"date-time"},"expireHour":{"type":"integer","format":"int32"},"sctNumber":{"type":"string"},"quantity":{"type":"integer","format":"int64"},"inventory":{"type":"integer","format":"int32"},"quantityLimitForBooking":{"type":"integer","format":"int32"},"purchaseOption":{"type":"string"},"quantityReward":{"type":"integer","format":"int32"},"quantityReservation":{"type":"integer","format":"int32"},"isAllowReservation":{"type":"boolean"},"priority":{"type":"integer","format":"int32"},"dynamicData":{"$ref":"#/components/schemas/GiftDynamicData"},"giftReservation":{"$ref":"#/components/schemas/GiftReservation"},"isEligible":{"type":"boolean"}}},"GiftDynamicData":{"type":"object","properties":{"description":{"type":"string"},"link":{"type":"string"},"weight":{"type":"number"},"height":{"type":"number"},"width":{"type":"number"},"length":{"type":"number"},"rewardAppGiftCode":{"type":"string"},"smsGiftId":{"type":"string"},"activeSmsNotification":{"type":"boolean"},"sourceGift":{"type":"string"},"selectGift":{"type":"string"}}},"GiftReservation":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"gift":{"$ref":"#/components/schemas/Gift"},"reservationPoint":{"type":"integer","format":"int32"},"reservationPercent":{"type":"integer","format":"int32"},"limitReservationTime":{"type":"integer","format":"int32"},"discountReservationPoint":{"type":"integer","format":"int32"},"discountReservationPercent":{"type":"integer","format":"int32"},"reservationExpiredDays":{"type":"integer","format":"int32"},"minCoinsForReservation":{"type":"integer","format":"int32"},"maximumReservationQuantity":{"type":"integer","format":"int32"},"coinToMinusPoint":{"type":"integer","format":"int32"},"coinToMinusPercent":{"type":"integer","format":"int32"}}},"HttpStatusCode":{"type":"object","properties":{"error":{"type":"boolean"},"is4xxClientError":{"type":"boolean"},"is5xxServerError":{"type":"boolean"},"is1xxInformational":{"type":"boolean"},"is2xxSuccessful":{"type":"boolean"},"is3xxRedirection":{"type":"boolean"}}},"ResponseBuilderUserGift":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"$ref":"#/components/schemas/UserGift"}}},"UserGift":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"gift":{"$ref":"#/components/schemas/Gift"},"status":{"type":"string","enum":["PRE_ORDER","PENDING","CANCEL"]},"holdingDate":{"type":"string","format":"date-time"},"quantity":{"type":"integer","format":"int32"},"usedQuantity":{"type":"integer","format":"int32"},"reservationPoint":{"type":"integer","format":"int32"},"point":{"type":"integer","format":"int32"},"dynamicData":{"type":"object","additionalProperties":{"type":"string"}}}},"OrderGift":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"transaction_id":{"type":"string"},"gift_id":{"type":"integer","format":"int32"},"gift_name":{"type":"string"},"gift_code":{"type":"string"},"coin_refund":{"type":"integer","format":"int32"},"quantity":{"type":"integer","format":"int32"},"status":{"type":"string"},"point":{"type":"integer","format":"int32"},"user_id":{"type":"integer","format":"int32"},"dynamic_data":{"type":"object","additionalProperties":{"type":"object"}},"holding_date":{"type":"string","format":"date-time"},"used_quantity":{"type":"integer","format":"int32"},"reservation_point":{"type":"integer","format":"int32"}}},"UpdateOrderRequest":{"required":["orderId","statusCode","type","userId"],"type":"object","properties":{"orderId":{"type":"string"},"tdId":{"type":"string"},"statusCode":{"type":"string"},"type":{"type":"string"},"userGiftSnapshot":{"type":"array","items":{"$ref":"#/components/schemas/OrderGift"}},"recipientSnapshot":{"type":"object","additionalProperties":{"type":"string"}},"userId":{"type":"integer","format":"int32"},"extraData":{"type":"object","additionalProperties":{"type":"object"}},"dynamicData":{"type":"object","additionalProperties":{"type":"string"}},"deliveryNumber":{"type":"string"},"deliveryCreatedTime":{"type":"string","format":"date-time"},"deliveryProviderId":{"type":"string"},"deliveryProviderStatusCode":{"type":"string"}}},"OrderDetailsResponseDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"$ref":"#/components/schemas/OrderDto"}}},"OrderDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"orderId":{"type":"string"},"tdId":{"type":"string"},"userGiftSnapshot":{"type":"array","items":{"$ref":"#/components/schemas/OrderGift"}},"customerInfo":{"type":"object","additionalProperties":{"type":"string"}},"deliveryNumber":{"type":"string"},"deliveryCreatedTime":{"type":"string","format":"date-time"},"deliveryProviderId":{"type":"string"},"deliveryProviderStatusCode":{"type":"string","enum":["WAITING_FOR_PROGRESS","ACCEPTED","DELIVERY_IN_PROGRESS","SUCCESS","FAILURE"]},"statusCode":{"type":"string","enum":["IN_PROCESS","REQUEST_RECEIVED","DELIVERING","SUCCESS","FAILURE"]},"typeCode":{"type":"string","enum":["NORMAL","REDELIVERY","MANUAL","SEPARATED"]},"shippingFee":{"type":"number","format":"double"},"previousOrderId":{"type":"string"},"totalGifts":{"type":"integer","format":"int32"}}},"Create":{"required":["name","values"],"type":"object","properties":{"name":{"type":"string"},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"values":{"type":"array","items":{"type":"string"}},"priority":{"type":"integer","format":"int32"},"parentId":{"type":"integer","format":"int32"},"updatedBy":{"type":"integer","format":"int32"}}},"Constant":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"keyAlpha":{"type":"string"},"keyBeta":{"type":"string"},"keyGamma":{"type":"string"},"keyDelta":{"type":"string"},"value":{"type":"string"},"priority":{"type":"integer","format":"int32"},"isActive":{"type":"boolean"},"dynamicData":{"$ref":"#/components/schemas/ConstantDynamicData"}}},"ConstantDynamicData":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"},"updatedById":{"type":"integer","format":"int32"},"label":{"type":"string"},"labelCode":{"type":"string"},"color":{"type":"string"},"icon":{"type":"string"}}},"EntityResponseListConstant":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Constant"}}}},"TransactionBatchDto":{"type":"object","properties":{"transactions":{"type":"array","items":{"$ref":"#/components/schemas/TransactionDto"}}}},"TransactionDto":{"required":["code","payload"],"type":"object","properties":{"code":{"type":"string"},"payload":{"type":"object","additionalProperties":{"type":"object"}},"destination":{"type":"string","enum":["SF"]},"createdAt":{"type":"string","format":"date-time"}}},"PreOrderDto":{"required":["giftId","quantity","userId"],"type":"object","properties":{"giftId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"quantity":{"minimum":1,"type":"integer","format":"int32"}}},"GiftDto":{"required":["badgeCodes","categoryCode","dynamicData","images","name","point","status","tierCodes","type"],"type":"object","properties":{"images":{"type":"array","items":{"type":"string"}},"transportTypeCode":{"type":"string"},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"name":{"maxLength":100,"minLength":0,"type":"string"},"badgeCodes":{"type":"array","items":{"type":"string"}},"categoryCode":{"type":"string"},"tierCodes":{"type":"array","items":{"type":"string"}},"type":{"type":"string","enum":["GIFT","E_VOUCHER","E_VOUCHER_SHOP","E_VOUCHER_SHOP_BKIDS","EV_VITAE_CODE","COUPON"]},"point":{"minimum":0,"type":"integer","format":"int32"},"price":{"type":"integer"},"hiddenTags":{"type":"array","items":{"type":"string"}},"sfNumber":{"minimum":0,"type":"integer","format":"int64"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"expireDate":{"type":"string","format":"date-time"},"expireHour":{"minimum":0,"type":"integer","format":"int32"},"sctNumber":{"type":"string"},"quantity":{"minimum":0,"type":"integer","format":"int64"},"inventory":{"minimum":0,"type":"integer","format":"int32"},"quantityLimitForBooking":{"minimum":0,"type":"integer","format":"int32"},"purchaseOption":{"type":"string"},"isAllowReservation":{"type":"boolean"},"priority":{"minimum":0,"type":"integer","format":"int32"},"dynamicData":{"$ref":"#/components/schemas/GiftDynamicDataDto"},"giftReservation":{"$ref":"#/components/schemas/GiftReservationDto"}}},"GiftDynamicDataDto":{"required":["link"],"type":"object","properties":{"description":{"type":"string"},"link":{"type":"string"},"weight":{"minimum":0.0,"exclusiveMinimum":false,"type":"number"},"height":{"minimum":0.0,"exclusiveMinimum":false,"type":"number"},"width":{"minimum":0.0,"exclusiveMinimum":false,"type":"number"},"length":{"minimum":0.0,"exclusiveMinimum":false,"type":"number"},"rewardAppGiftCode":{"type":"string"},"smsGiftId":{"type":"string"},"activeSmsNotification":{"type":"boolean"},"sourceGift":{"type":"string"},"selectGift":{"type":"string"}}},"GiftReservationDto":{"type":"object","properties":{"reservationPoint":{"minimum":0,"type":"integer","format":"int32"},"reservationPercent":{"minimum":0,"type":"integer","format":"int32"},"discountReservationPoint":{"minimum":0,"type":"integer","format":"int32"},"discountReservationPercent":{"minimum":0,"type":"integer","format":"int32"},"minCoinsForReservation":{"minimum":0,"type":"integer","format":"int32"},"reservationExpiredDays":{"minimum":0,"type":"integer","format":"int32"},"maximumReservationQuantity":{"minimum":0,"type":"integer","format":"int32"},"limitReservationTime":{"minimum":0,"type":"integer","format":"int32"},"coinToMinusPoint":{"minimum":0,"type":"integer","format":"int32"},"coinToMinusPercent":{"minimum":0,"type":"integer","format":"int32"},"gift":{"$ref":"#/components/schemas/Gift"}}},"ResponseBuilderGift":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"$ref":"#/components/schemas/Gift"}}},"ConstantDynamicDataDto":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"},"updatedById":{"type":"integer","format":"int32"},"label":{"type":"string"},"labelCode":{"type":"string"},"color":{"type":"string"},"icon":{"type":"string"}}},"GiftCategoryDto":{"required":["isActive"],"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"code":{"type":"string"},"isActive":{"type":"boolean"},"priority":{"type":"integer","format":"int32"},"dynamicData":{"$ref":"#/components/schemas/ConstantDynamicDataDto"}}},"BaseConstantDto":{"required":["isActive"],"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"code":{"type":"string"},"isActive":{"type":"boolean"},"priority":{"type":"integer","format":"int32"},"dynamicData":{"$ref":"#/components/schemas/ConstantDynamicDataDto"}}},"ResponseBuilderBaseConstantDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"$ref":"#/components/schemas/BaseConstantDto"}}},"ToggleDto":{"required":["giftId","userId"],"type":"object","properties":{"giftId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"action":{"type":"string","enum":["ADD","REMOVE"]}}},"EntityResponseInteger":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"integer","format":"int32"}}},"ConstantDto":{"required":["isActive","keyBeta","value"],"type":"object","properties":{"keyAlpha":{"type":"string"},"keyBeta":{"type":"string"},"keyGamma":{"type":"string"},"keyDelta":{"type":"string"},"value":{"type":"string"},"isActive":{"type":"boolean"},"priority":{"type":"integer","format":"int32"},"dynamicData":{"type":"object","additionalProperties":{"type":"object"}}}},"ResponseBuilderConstant":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"$ref":"#/components/schemas/Constant"}}},"ResponseBuilderListUserGift":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserGift"}}}},"GetResourceResponseDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ResourceDto"}}}},"ResourceDto":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"ListOrderRequest":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"deliveryProviderId":{"type":"string"},"statusCode":{"type":"string","enum":["IN_PROCESS","REQUEST_RECEIVED","DELIVERING","SUCCESS","FAILURE"]},"typeCode":{"type":"string","enum":["NORMAL","REDELIVERY","MANUAL","SEPARATED"]},"keyword":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"pageable":{"$ref":"#/components/schemas/PageableObject"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"GetOrderResponseDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"$ref":"#/components/schemas/OrderDto"}},"total":{"type":"integer","format":"int64"},"page":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"GetOrderGiftsDetailRequest":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"osOrderId":{"type":"integer","format":"int32"},"orderId":{"type":"string"},"pageable":{"$ref":"#/components/schemas/PageableObject"}}},"GetOrderGiftsDetailResponseDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"$ref":"#/components/schemas/OrderGiftDto"}},"total":{"type":"integer","format":"int64"},"page":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"orderId":{"type":"string"}}},"OrderGiftDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"transaction_id":{"type":"string"},"gift_id":{"type":"integer","format":"int32"},"gift_name":{"type":"string"},"gift_code":{"type":"string"},"coin_refund":{"type":"integer","format":"int32"},"quantity":{"type":"integer","format":"int32"},"status":{"type":"string"},"point":{"type":"integer","format":"int32"},"user_id":{"type":"integer","format":"int32"},"dynamic_data":{"type":"object","additionalProperties":{"type":"object"}},"holding_date":{"type":"string","format":"date-time"},"used_quantity":{"type":"integer","format":"int32"},"reservation_point":{"type":"integer","format":"int32"}}},"HealthCheckResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"$ref":"#/components/schemas/HealthCheckResponseDto"}}},"HealthCheckResponseDto":{"type":"object","properties":{"hello":{"type":"string"}}},"ListGiftDto":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"id":{"type":"string"},"ids":{"type":"array","items":{"type":"integer","format":"int32"}},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"type":{"type":"string","enum":["GIFT","E_VOUCHER","E_VOUCHER_SHOP","E_VOUCHER_SHOP_BKIDS","EV_VITAE_CODE","COUPON"]},"isAllowReservation":{"type":"boolean"},"categoryCode":{"type":"string"},"name":{"type":"string"},"maxPoint":{"type":"number","format":"double"},"orderBy":{"type":"string"},"sortBy":{"type":"string"},"tierCodes":{"type":"string"},"pageable":{"$ref":"#/components/schemas/PageableObject"}}},"GiftReposeDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Gift"}},"total":{"type":"integer","format":"int64"},"page":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"SectionGiftDto":{"type":"object","properties":{"hiddenTag":{"type":"string"},"tierCode":{"type":"string"}}},"ResponseBuilderListListGift":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/Gift"}}}}},"ListGiftCategoryDto":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"orderBy":{"type":"string"},"status":{"type":"string"},"pageable":{"$ref":"#/components/schemas/PageableObject"}}},"ResponseBuilderListBaseConstantDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BaseConstantDto"}}}},"EntityResponseMapStringObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"object","additionalProperties":{"type":"object"}}}},"EntityResponseInteger[]":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"type":"integer","format":"int32"}}}},"ResponseBuilderListConstant":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Constant"}}}},"ListFilter":{"type":"object","properties":{"isActive":{"type":"boolean"}}},"EntityResponseListFilterResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FilterResponse"}}}},"FilterResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"label":{"type":"string"},"labelCode":{"type":"string"},"name":{"type":"string"},"priority":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"value":{"type":"string"}}},"EntityResponseObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"status":{"$ref":"#/components/schemas/HttpStatusCode"},"data":{"type":"object"}}}}}}
